.idea/

*.iml
*.class
*.log
target/
project/target/
project/boot/
dist/
boot/
logs/
out/
tmp/
projectFilesBackup/
.history/
**/src/thrift/thrift_external
**/resources/build.properties
.idea/
.idea_modules/
.DS_STORE
deploy/*.json
.terraform
.cache
*.tfstate*
.settings
.project
.classpath
version.properties
RUNNING_PID
jd-gui.cfg

